<ion-view title="Forgot Password">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="email" ng-model="user.email" placeholder="Enter your email">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-block button-positive" ng-click="reset()">
            RESET PASSWORD
        </button>
    </ion-content>
    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
        <div class="positive">An email has been sent to you with instructions on resetting your password.</div>
        <button class="button button-block button-clear button-calm" ng-click="login()">
            Log In
        </button>
    </ion-content>
</ion-view>
