<ion-view title="'Register'">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="date" ng-model="user.dob">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-block button-positive" ng-click="register()">
            CREATE ACCOUNT
        </button>
        By creating an account you agree to the Terms of Use and Privacy Policy.
    </ion-content>
</ion-view>
